# Optional logging settings, uncomment one of these example lines or add your own.
# See comments after each for more info.
# Default: "dsvexp:app,dsvexp:error"
#DEBUG=*  # Enable all logging, including middleware
#DEBUG=dsvexp:*  # Enable all logging specific to dsv-rpc-explorer
#DEBUG=dsvexp:app,dsvexp:error  # Default


# The base URL. If you want to run it elsewhere than on /, for example /dsv-rpc-explorer/ - note that the value should include starting and ending "/"
# Default: /
#DSVEXP_BASEURL=/
#DSVEXP_BASEURL=/explorer/



# Whether your site will be served via HTTPS (impacts session cookies)
# Note: if true, the express app will also have "trust proxy" set to 1, to help anyone running this tool behind a HTTPS reverse proxy
# Default: false
#DSVEXP_SECURE_SITE=false


# The active coin. Only supported value is "DSV".
# Default: DSV
#DSVEXP_COIN=DSV


# Host/Port to bind to
# Defaults: shown
#DSVEXP_HOST=127.0.0.1
#DSVEXP_PORT=3002


# Doriancoin RPC Credentials (URI -OR- HOST/PORT/USER/PASS)
# Defaults:
#   - [host/port]: 127.0.0.1:1948
#   - [username/password]: none
#   - cookie: '~/.doriancoin/.cookie'
#   - timeout: 5000 (ms)
#DSVEXP_DORIANCOIND_URI=doriancoin://rpcusername:rpcpassword@127.0.0.1:1948?timeout=10000
#DSVEXP_DORIANCOIND_HOST=127.0.0.1
#DSVEXP_DORIANCOIND_PORT=1948
#DSVEXP_DORIANCOIND_USER=rpcusername
#DSVEXP_DORIANCOIND_PASS=rpcpassword
#DSVEXP_DORIANCOIND_COOKIE=/path/to/doriancoind/.cookie
#DSVEXP_DORIANCOIND_RPC_TIMEOUT=5000


# Select optional "address API" to display address tx lists and balances
# Options: electrum, electrumx
#
# If this value is set to electrum (or electrumx), then
# DSVEXP_ELECTRUM_SERVERS must also be set
#
# Default: none
#DSVEXP_ADDRESS_API=electrum


# Optional Electrum Protocol Servers. See DSVEXP_ADDRESS_API. This value is only
# used if DSVEXP_ADDRESS_API=electrum (or electrumx)
#
# Default: none
#DSVEXP_ELECTRUM_SERVERS=tls://electrumx.server.com:50002,tcp://127.0.0.1:50001,...


# Whether to use the Electrum server as an external txindex.
# This is only available in the Electrs implementation. Electrs txindex can serve as a
# full replacement for the Doriancoin Core txindex, but Core's implementation
# is likely faster.
#DSVEXP_ELECTRUM_TXINDEX=true


# Set number of concurrent RPC requests. Should be lower than your node's "rpcworkqueue" value.
# Note that Doriancoin Core's default rpcworkqueue=16.
# Default: 10
#DSVEXP_RPC_CONCURRENCY=10


# Disable app's in-memory RPC caching to reduce memory usage
# Default: false (i.e. in-memory cache **enabled**)
#DSVEXP_NO_INMEMORY_RPC_CACHE=true


# Optional redis server for RPC caching
# Default: none
#DSVEXP_REDIS_URL=redis://localhost:6379


# Default: hash of credentials
#DSVEXP_COOKIE_SECRET=0000aaaafffffgggggg


# Whether public-demo aspects of the site are active
# Default: false
#DSVEXP_DEMO=true


# Set to false to enable resource-intensive features, including:
# UTXO set summary querying
# (default value is true, i.e. resource-intensive features are disabled)
#DSVEXP_SLOW_DEVICE_MODE=false


# Privacy mode disables:
# IP-geolocation queries
# Default: false
#DSVEXP_PRIVACY_MODE=true


# Don't request currency exchange rates (always disabled for Doriancoin)
# Default: true
#DSVEXP_NO_RATES=true


# Password protection for entire site via basic auth (enter any username, only the password is checked)
# Default: none
#DSVEXP_BASIC_AUTH_PASSWORD=mypassword

# Password protection for admin dashboard only (enter any username, only the password is checked)
# This allows the main explorer to be public while protecting the admin dashboard
# Default: none
#DSVEXP_ADMIN_PASSWORD=myadminpassword


# File where the SSO token is stored; ignored if DSVEXP_BASIC_AUTH_PASSWORD is provided.
# Enables SSO if present.
# Default: none
#DSVEXP_SSO_TOKEN_FILE=/var/run/dsv-rpc-explorer/sso_token


# URL of an optional external SSO provider
# This is ignored if SSO is not enabled (see DSVEXP_SSO_TOKEN_FILE)
# Default: none
#DSVEXP_SSO_LOGIN_REDIRECT_URL=/my-sso-provider/login


# Enable to allow access to all RPC methods
# Default: false
#DSVEXP_RPC_ALLOWALL=true


# Custom RPC method blacklist
# Default: (see config.js)
#DSVEXP_RPC_BLACKLIST=signrawtransaction,sendtoaddress,stop,...


# Optional API keys
# Default: none
#DSVEXP_GANALYTICS_TRACKING=UA-XXXX-X
#DSVEXP_SENTRY_URL=https://00000fffffff@sentry.io/XXXX
#DSVEXP_IPSTACK_APIKEY=000000fffffaaaaa
#DSVEXP_MAPBOX_APIKEY=000000fffffaaaaa


# Optional value for a directory for filesystem caching
# Default: ./cache
#DSVEXP_FILESYSTEM_CACHE_DIR=./cache


# Optional analytics
#DSVEXP_PLAUSIBLE_ANALYTICS_DOMAIN=domain.com
#DSVEXP_PLAUSIBLE_ANALYTICS_SCRIPT_URL=https://url-to/plausible.js


# Optional value for "max_old_space_size"
# Default: 1024
#DSVEXP_OLD_SPACE_MAX_SIZE=2048


# The number of recent blocks to search for transactions when txindex is disabled
#DSVEXP_NOTXINDEX_SEARCH_DEPTH=3



# Display Currency
# Default: dsv
#DSVEXP_DISPLAY_CURRENCY=(dsv|doris|local)

# Local Currency
# Default: usd
#DSVEXP_LOCAL_CURRENCY=(usd|eur|...)

# UI Timezone
# Default: utc
#DSVEXP_UI_TIMEZONE=(utc|local)

# UI Theme
# Default: dark
#DSVEXP_UI_THEME=(dark|light)

# UI Option: Hide info notes
# Default: false
#DSVEXP_UI_HIDE_INFO_NOTES=(true|false)



# Set the number of recent blocks shown on the homepage.
# For slow devices reduce this number.
# Default: 10
#DSVEXP_UI_HOME_PAGE_LATEST_BLOCKS_COUNT=10


# Set the number of blocks per page on the browse-blocks page.
# For slow devices reduce this number.
# Default: 50
#DSVEXP_UI_BLOCKS_PAGE_BLOCK_COUNT=50



#########


# Options designed for production use

# S3 details for uploading assets to be served via CloudFront

# This is the optional profile name that the AWS SDK will use to load credentials. By default this refers to an item in ~/.aws/credentials
#AWS_PROFILE=xxx

# The S3 bucket where assets will be uploaded on launch
#DSVEXP_S3_BUCKET=xxx

# The region that the above S3 bucket exists
#DSVEXP_S3_BUCKET_REGION=xxx

# The path in the above S3 bucket where assets will be uploaded on launch
#DSVEXP_S3_BUCKET_PATH=xxx/

# CDN base url; if S3 details are given, this will probably be a CloudFront path for assets that are uploaded at launch
#DSVEXP_CDN_BASE_URL=xxx

# Rate limiting
# Window size, in minutes, set to -1 to disable rate limiting
#DSVEXP_RATE_LIMIT_WINDOW_MINUTES=xx
# Window max requests allowed
#DSVEXP_RATE_LIMIT_WINDOW_MAX_REQUESTS=xxx
